{% extends "ProyectoWebApp/base.html" %} {% load static %} {% block content %}

<!-- Heading -->
<section class="page-section clearfix">

   <div class="container">
      <h1 class="text-white text-center">Tienda</h1>

      <div class="row">

         <div class="col-12">
            {% if importe_total_carrito > 0 %}
               <p class="text-white text-center">
                  <a href="/carrito/show">Ir al Carrito</a>
               </p>
            {% endif %}
         </div>

         {% for producto in productos %}

               <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                     <div class="card m-4 text-center" style="min-height: 330px">
                           <img 
                              src="{{ producto.imagen.url }}" 
                              alt="{{ producto.nombre }}" 
                              class="card-img p-4"
                              style="max-width: 160px; max-height: 160px; margin: 0 auto;"
                           >
                           <div class="card-body">
                                 <h3 
                                    class="card-title font-weight-bold text-uppercase"
                                    style="height: 35px; overflow: hidden; font-size: 16px; font-weight: 800;"
                                 >{{ producto.nombre }}</h3>
                                 <p class="card-text" style="font-size: 14px;">Precio: ${{ producto.precio }}</p>
                           </div>
                           <div class="card-footer text-center">
                              <a href="{% url 'carrito:agregar' producto.id %}" class="btn btn-primary btn-sm btn-block text-uppercase">Agregar Al Carro</a>
                           </div>
                     </div>
               </div>
               
            {% endfor %}

         </div>

   </div>
</section>

{% endblock %}
