{% extends "ProyectoWebApp/base.html" %} {% load static %} {% block content %}

<!-- Heading -->
<section class="page-section clearfix">
   <div class="container">
      <h1 class="text-white text-center">Servicios</h1>

      {% for servicio in servicios %}
         <h2 class="text-white">{{ servicio.titulo }}</h2>
         <p class="text-white">{{ servicio.contenido }}</p>
         <p>
            <img 
               src="{{ servicio.imagen.url }}" 
               alt="{{ servicio.titulo }}" 
               class="rounded-circle"
               style="width: 100px; height: 100px;"
            >
         </p>
      {% endfor %}

   </div>
</section>

{% endblock %}
