{% extends "ProyectoWebApp/base.html" %} {% load static %} {% block content %}

<!-- Heading -->
<section class="page-section clearfix">
   <div class="container">
      <h1 class="text-white text-center mb-5">Servicios</h1>

      <div class="row">

         {% for servicio in servicios %}

            <div class="col-12 col-xl-6">
               <div class="card m-4">
                  <div class="row no-gutters">
                      <div class="col-sm-5">
                        <img 
                           src="{{ servicio.imagen.url }}" 
                           alt="{{ servicio.titulo }}" 
                           class="card-img p-4"
                           style="max-width: 200px; max-height: 200px;"
                        >
                      </div>
                      <div class="col-sm-7">
                          <div class="card-body">
                              <h3 class="card-title font-weight-bold">{{ servicio.titulo }}</h3>
                              <p class="card-text">{{ servicio.contenido }}</p>
                              <a href="#" class="btn btn-primary">Inscribirme</a>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
            
         {% endfor %}

      </div>

   </div>
</section>

{% endblock %}
